In [2]:
import sqlite3
#모듈 버전
print(sqlite3.version)
#실제 내장된 버전
print(sqlite3.sqlite_version)

2.6.0
3.26.0

In [9]:
conn = sqlite3.connect("data/mysqlite.db")
#print(conn)
cursor = conn.cursor()
print(cursor)
conn.close()

<sqlite3.Cursor object at 0x0000000004D95C00>

In [9]:
# select
conn = sqlite3.connect("data/mysqlite.db")
cursor = conn.cursor()

sql = "select * from member"
cursor.execute(sql)
# fetchall = 전체데이터 불러오기
rows = cursor.fetchall()
for row in rows:
    print(row)
conn.close()

(1, '홍길동', '2019-05-01')
(2, '임꺽정', '2019-04-03')

In [4]:
conn = sqlite3.connect("data/sqlitetest.db")
cursor = conn.cursor()

sql = "select * from suppliers"
cursor.execute(sql)
# 무조건 execute하면 전체 data를 불러옴. 하지만 fetchmany를 쓰면 일부 data만 불러올 수 있음!
rows = cursor.fetchmany(2) # select * from suppliers limit 2 와 동일
for row in cursor:
    print(row)

# MySQL에서 내가 원하는 records만 들고오는 방법 = limit 사용

('C', '001-1009', '3321', 615000.0, '2017-02-03')

In [20]:
conn = sqlite3.connect("data/sqlitetest.db")
cursor = conn.cursor()

sql = "select count(*), sum(cost), max(cost) from suppliers"
cursor.execute(sql)
# fetchone = 하나만 불러오기
rows = cursor.fetchone()
print(rows)
print(rows[0])
conn.close()

(3, 1365000.0, 615000.0)
3

In [22]:
# 데이터 베이스 작성, 생성?
conn = sqlite3.connect("data/jupyter.db")   #connect라는 메서드를 이용해서 sqlite3 import
#print(conn)
cursor = conn.cursor()

# 테이블 생성
# text : varchar보다 더 많은 문자열을 쓸 때 사용함
# If not exists를 써서 재실행되었을 때의 중복을 막아준다
sql = """
    CREATE TABLE IF NOT EXISTS tblbooks(
        title            text,
        published_date   text,
        pages            integer,
        recommend        integer
    );
"""
cursor.execute(sql)
conn.commit()

In [23]:
# 데이터 입력 1
cursor.execute("insert into tblbooks values('python', '2018-01-01', 500, 10)")
conn.commit()
# cell만 끊어서 가는 중이지 위의 내용과 이어서 하는 과정임을 헷갈리지 말 것!

In [24]:
# 데이터 입력 2
sql = "insert into tblbooks values(?,?,?,?)" # 변수를 직접 괄호 안에 입력하면 불편쓰
data = ("R", '2018-01-02', 600, 5) # tuple로 묶기
cursor.execute(sql, data)
conn.commit()

In [11]:
# 데이터 입력 3
# 여러개의 데이터를 한번에 전달
sql = "insert into tblbooks values(?,?,?,?)"
items = [("빅데이터", '2019-01-01', 600, 5), ("머신러닝", '2019-01-01', 600, 5), 
("데이터분석", '2019-01-01', 600, 5), ("텐서플로우", '2019-01-01', 600, 5)]  # tuple여러개 list로 묶기
#execute말고 executemany로 여러번 실행해준다 (동시에 여러개 입력)
cursor.executemany(sql, items)
conn.commit()

ProgrammingError: Cannot operate on a closed database.

In [26]:
conn.close()

In [27]:
# CSV파일로부터 읽은 데이터를 테이블에 insert
import csv
import sqlite3

input_file = "data/input.csv"
conn = sqlite3.connect("data/jupyter.db")
cursor = conn.cursor()

sql = """
    CREATE TABLE IF NOT EXISTS suppliers(
    supplier_name    varchar(20),
    invoice_number   varchar(20),
    part_number      varchar(20),
    cost             float,
    purchase_date    date
);
"""
cursor.execute(sql)

In [28]:
file_reader = csv.reader(open(input_file, "r"), delimiter=",")
header = next(file_reader)

for row in file_reader:
    data = []
    for col in range(len(header)):
        data.append(row[col])
    cursor.execute("insert into suppliers values(?,?,?,?,?)", data)
    
conn.commit()

In [ ]:
# 규모에 따라서 data를 어디에 보관해서 쓸 것이냐는 사용자가 결..정...
# SQLite 끄읕